---
import { materialDesign } from "../components/MaterialDesign.js";
import Layout from "../layouts/Layout.astro";

const { primaryColor, bgGradient } = materialDesign().colors;
---

<Layout title="Instituto Socila Bezerra de Menezes." />

<section
  class={`h-[calc(100vh-18vh)] lg:h-[calc(100vh-20vh)] w-full rounded-bl-[50px]  rounded-br-[50px] md:rounded-bl-[170px]  md:rounded-br-[170px] lg:rounded-bl-[220px] lg:rounded-br-[220px] ${bgGradient}`}
>
  <div
    class="bg-criancas w-full h-full md:rounded-bl-[170px] md:rounded-br-[170px] lg:rounded-bl-[220px] lg:rounded-br-[220px]"
  >
    <div
      class="container h-full w-ful mx-auto flex flex-col items-start pb-[60px] md:pb-0 md:pt-12 justify-end md:justify-center p-7"
    >
      <p
        class="mb-3 ml-1 uppercase tracking-[5px] text-lg text-[#e0234e] font-bold"
      >
        Bem-vindo ao
      </p>
      <h1
        class="text-4xl sm:text-5xl xl:w-[50%] font-bold text-white text-left"
      >
        Nosso Instituto Social <br class="hidden sm:block" />Bezerra de Menezes
      </h1>
      <p
        class="text-xl/6 md:text-3xl mt-2 lg:mt-4 text-[#BFAFB8] w-[80%] xl:w-[40%]"
      >
        Transformando vidas através do esporte, cultura e da arte.
      </p>

      <button
        class="py-1 px-7 md:px-8 border-2 mt-5 bg-white sm:bg-inherit text-lg text-[#7B1930] md:border-white rounded-full font-medium sm:text-white hover:bg-white hover:text-[#e0234e] duration-300"
        >Quem Somos</button
      >
    </div>
  </div>
</section>
<section class=" h-[18vh] w-full container mx-auto relative overflow-hidden">
  <p class="py-3 text-[#B6B6B7] md:text-start text-center text-sm lg:text-lg lg:py-4 font-medium tracking-[1px]">
    NOSSOS APOIADORES:
  </p>
  <div class="flex items-center w-full justify-center lg:inset-0 lg:overflow-hidden">
    <div class="relative w-full h-[200px] lg:h-[320px] overflow-hidden">
      <div class="animate-marquee flex absolute md:h-[80px] h-[60px]  gap-6 md:gap-32 mt-2">
        <!-- Replicar as imagens conforme necessário para criar um loop contínuo -->
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
        <img class="h-full mx-4" src="./img/SVG/oplan-care.svg" alt="Logo Oplan Care" />
        <img class="h-full mx-4" src="./img/SVG/hgi-logo.svg" alt="Logo HGI" />
        <img class="h-full mx-4" src="./img/SVG/oplan-logo.svg" alt="Logo Oplan" />
      </div>
    </div>
  </div>
  
</section>

<main class="container mx-auto py-8">
  {/* Welcome Message */}
  <section class="mb-8">
    <div class="bg-yellow-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">
        Bem-Vindo ao Nosso Instituto Social
      </h2>
      <p class="text-gray-800">
        Transformando vidas através do esporte, cultura e arte. Nossa missão é
        impactar positivamente a vida de jovens e comunidades, oferecendo
        oportunidades de crescimento e desenvolvimento pessoal. Junte-se a nós
        nesta jornada de mudança!
      </p>
    </div>
  </section>

  {/* Call to Action */}
  <section class="mb-8">
    <div class="bg-green-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Seja parte da mudança!</h2>
      <p class="text-gray-800">
        Faça uma doação, torne-se um voluntário ou participe de nossos eventos
        para ajudar a construir um futuro melhor para nossas comunidades.
      </p>
    </div>
  </section>

  {/* Latest News */}
  <section class="mb-8">
    <div class="bg-blue-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Últimas Notícias/Atualizações</h2>
      <p class="text-gray-800">
        Fique por dentro das últimas novidades e eventos do Instituto Social
        Bezerra de Menezes. Não perca a oportunidade de se envolver e fazer a
        diferença!
      </p>
    </div>
  </section>

  {/* Testimonials */}
  <section class="mb-8">
    <div class="bg-purple-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Testemunhos de Beneficiários</h2>
      <div class="bg-white rounded-lg p-4">
        <p class="text-gray-800">
          "O Instituto Bezerra de Menezes mudou minha vida! Graças às
          oportunidades oferecidas aqui, descobri meu talento para o esporte e
          me tornei uma pessoa mais confiante e determinada." - João, 16 anos.
        </p>
      </div>
    </div>
  </section>
</main>

{/* Main Content */}
<main class="container mx-auto py-8">
  {/* Eventos Futuros */}
  <section class="mb-8">
    <div class="bg-yellow-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Eventos Futuros</h2>
      <p class="text-gray-800">
        Confira nossos próximos eventos e junte-se a nós:
      </p>
      <ul class="list-disc list-inside">
        <li>Torneio de Futebol Juvenil - Data: XX/XX/20XX</li>
        <li>Workshop de Pintura - Data: XX/XX/20XX</li>
        <li>Apresentação de Dança - Data: XX/XX/20XX</li>
      </ul>
    </div>
  </section>

  {/* Atividades Recorrentes */}
  <section class="mb-8">
    <div class="bg-green-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Atividades Recorrentes</h2>
      <p class="text-gray-800">
        Oferecemos uma variedade de atividades regulares, incluindo:
      </p>
      <ul class="list-disc list-inside">
        <li>
          Aulas de Futebol: Todas as quartas e sextas-feiras, das 14h às 16h.
        </li>
        <li>Oficinas de Teatro: Segundas e quintas-feiras, das 16h às 18h.</li>
      </ul>
    </div>
  </section>

  {/* Projetos em Andamento */}
  <section class="mb-8">
    <div class="bg-blue-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Projetos em Andamento</h2>
      <p class="text-gray-800">
        Atualmente, estamos trabalhando em projetos emocionantes, como:
      </p>
      <ul class="list-disc list-inside">
        <li>Construção de uma biblioteca comunitária.</li>
        <li>Campanha de conscientização sobre saúde mental entre jovens.</li>
      </ul>
    </div>
  </section>
</main>

{/* Main Content */}
<main class="container mx-auto py-8">
  {/* Lista de Apoiadores */}
  <section class="mb-8">
    <div class="bg-yellow-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Lista de Apoiadores</h2>
      <p class="text-gray-800">
        Agradecemos sinceramente o apoio de nossos generosos apoiadores,
        incluindo:
      </p>
      <ul class="list-disc list-inside">
        <li>Empresa XPTO</li>
        <li>Pessoa Física Y</li>
        <li>Organização sem Fins Lucrativos Z</li>
      </ul>
    </div>
  </section>

  {/* Como Apoiar */}
  <section class="mb-8">
    <div class="bg-green-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Como Apoiar</h2>
      <p class="text-gray-800">
        Existem várias maneiras de apoiar o Instituto Bezerra de Menezes:
      </p>
      <ul class="list-disc list-inside">
        <li>Faça uma doação financeira.</li>
        <li>Torne-se um voluntário e ajude-nos em nossos programas.</li>
        <li>Compartilhe nossa causa com sua rede social.</li>
      </ul>
    </div>
  </section>

  {/* Depoimentos de Apoiadores */}
  <section class="mb-8">
    <div class="bg-blue-200 rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Depoimentos de Apoiadores</h2>
      <div class="bg-white rounded-lg p-4">
        <p class="text-gray-800">
          "Estamos orgulhosos de apoiar o Instituto Bezerra de Menezes em sua
          missão de transformar vidas. Juntos, podemos fazer a diferença na
          nossa comunidade." - Empresa XPTO.
        </p>
      </div>
    </div>
  </section>
</main>

<footer class="bg-[#e0234e] text-white py-8 h-28">
  <div class="container mx-auto">
    <p class="text-center">
      © 2024 Instituto Social Bezerra de Menezes. Todos os direitos reservados.
    </p>
  </div>
</footer>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .bg-criancas {
    height: 100%;
    width: 100%;
    background-image: url(/img/bg-criancas.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }

  @media (max-width: 600px) {
    .bg-criancas {
      background-size: 130%;
      background-position: center top;
      background-position-x: 30px;
    }
  }

  @keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-500%); }
}

.animate-marquee {
  animation: marquee 300s linear infinite; /* Ajuste a velocidade conforme necessário */
}

</style>
