---
import { materialDesign } from "../components/MaterialDesign.js";
import Layout from "../layouts/Layout.astro";

const { primaryColor, bgGradient } = materialDesign().colors;
---

<Layout title="Instituto Socila Bezerra de Menezes." />
<section class={`h-screen ${bgGradient}`}>Oi</section>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
