---
import { materialDesign } from "../components/MaterialDesign.js";
import Layout from "../layouts/Layout.astro";

const { primaryColor, bgGradient } = materialDesign().colors;
---

<Layout title="Instituto Socila Bezerra de Menezes." />
<section
  class={`h-[calc(100vh-20vh)] w-full  lg:rounded-bl-[250px] lg:rounded-br-[250px] ${bgGradient}`}
>
  <div
    class="bg-criancas w-full h-full lg:rounded-bl-[250px] lg:rounded-br-[250px]"
  >
    <div
      class="container h-full w-ful mx-auto flex flex-col items-start pb-[60px] md:pb-0 justify-end md:justify-center p-5"
    >
      <p
        class="mb-3 ml-1 uppercase tracking-[5px] text-lg text-[#e0234e] font-bold"
      >
        Bem-vindo ao
      </p>
      <h1 class="text-4xl sm:text-7xl xl:w-[50%] font-bold text-white text-left">
        Nosso Instituto Social Bezerra de Menezes
      </h1>
      <p class="text-xl md:text-4xl mt-2 lg:mt-4 text-[#BFAFB8] xl:w-[40%]">
        Transformando vidas através do esporte, cultura e da arte.
      </p>

      <button
        class="p-3 px-14 md:px-8 border-2 mt-7 border-white rounded-full font-medium text-white hover:bg-white hover:text-[#e0234e] duration-300"
        >Quem Somos</button
      >
    </div>
  </div>
</section>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .bg-criancas {
    height: 100%;
    width: 100%;
    background-image: url(/img/bg-criancas.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }

  @media (max-width: 600px) {
    .bg-criancas {
      background-size: 120%
    }
  }
</style>
